<div class="jumbotron">
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            <h1 class="cover-heading">coSquare</h1>
            <p class="lead">Redefine your work with coSquare</p>
            <p class="lead">
              <a href="users/sign_in" class="btn btn-lg btn-secondary">Sign Up</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="https://www.cosq.ca">coSquare</a>
            </div>
          </div>

        </div>

      </div>

    </div>
</div>